Body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgrey;
}




h1 {
    color: blue;
    text-align: center;
    font-size : 12px;
}

p {
    color : red;
    text-transform:capitalize;
    border-color : aquamarine;

}

/* Class Selector */
.red {
    color : red;
    font-size: 20px;
    
}

.tulisanmiring {
    text-decoration: underline;

}
